#
# OpenTHC Full Docker Environment
#
# SPDX-License-Identifier: GPL-3.0-only
#

name: openthc

services:

  hub:
    container_name: hub.openthc.me
    image: openthc/web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./etc/Caddyfile:/etc/caddy/Caddyfile
      - ./volumes/hub/data:/data


  # The SQL Database Service
  sql:
    container_name: sql.openthc.me
    image: openthc/sql
    environment:
      POSTGRES_PASSWORD: "passweed"


  # The Redis System
  # @see https://github.com/nextcloud/all-in-one/discussions/1731
  rdb:
    container_name: rdb.openthc.me
    image: redis


  # Open Policy Agent (ACL)
  # opa:
  #   container_name: opa.openthc.me
  #   image: opa


  # Single Sign On Services
  sso:
    container_name: sso.openthc.me
    image: openthc/sso
    depends_on:
      - hub
      - sql
      - rdb
    environment:
      OPENTHC_SERVER_NAME: "sso.openthc.me"
    env_file:
      - path: "./etc/demo.env"
        required: true
      - path: "./etc/live.env"
        required: false
    networks:
      default:
        aliases:
          - sso.openthc.me
    expose:
      - "80"


  # Compliance Reporting Engine
  cre:
    container_name: cre.openthc.me
    image: openthc/cre
    depends_on:
      - sso
    environment:
      # OPENTHC_DEBUG: "true"
      OPENTHC_SERVER_NAME: "cre.openthc.me"
    env_file:
      - path: "./etc/demo.env"
        required: true
      - path: "./etc/live.env"
        required: false
    networks:
      default:
        aliases:
          - cre.openthc.me
    expose:
      - "80"


  # PIPE
  # pipe:
  #   container_name: pipe.openthc.me
  #   image: openthc/pipe
  #   depends_on:
  #     - sso
  #   environment:
  #     OPENTHC_SERVER_NAME: "pipe.openthc.me"
  #   env_file:
  #     - path: "./etc/demo.env"
  #       required: true
  #     - path: "./etc/live.env"
  #       required: false
  #   networks:
  #     default:
  #       aliases:
  #         - pipe.openthc.me
  #   expose:
  #     - "80"


  # BONG
  # bong:
  #   container_name: bong.openthc.me
  #   image: openthc/bong
  #   depends_on:
  #     - sso
  #   environment:
  #     OPENTHC_SERVER_NAME: "bong.openthc.me"
  #   env_file:
  #     - path: "./etc/demo.env"
  #       required: true
  #     - path: "./etc/live.env"
  #       required: false
  #   networks:
  #     default:
  #       aliases:
  #         - bong.openthc.me
  #   expose:
  #     - "80"


  # Main Application / S2S / TNT
  app:
    container_name: app.openthc.me
    image: openthc/app
    depends_on:
      - sso
    environment:
      # OPENTHC_DEBUG: "true"
      OPENTHC_SERVER_NAME: "app.openthc.me"
    env_file:
      - path: "./etc/demo.env"
        required: true
      - path: "./etc/live.env"
        required: false
    networks:
      default:
        aliases:
          - app.openthc.me
    expose:
      - "80"


  # Point of Sale
  pos:
    container_name: pos.openthc.me
    image: openthc/pos
    depends_on:
      - sso
    environment:
      OPENTHC_SERVER_NAME: "pos.openthc.me"
    env_file:
      - path: "./etc/demo.env"
        required: true
      - path: "./etc/live.env"
        required: false
    networks:
      default:
        aliases:
          - pos.openthc.me
    expose:
      - "80"


volumes:
  gfs:
    name: gfs.openthc.me
